@property --white {
  syntax: "<color>";
  inherits: false;
  initial-value: white;
}

:root {
  --white-opacity: rgba(211, 211, 211, 0.8);
  --grey: rgb(66, 66, 66);
}

/* RESET */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
}

body,
div {
  background: var(--white);
  font-family: "Source Sans Pro", sans-serif;
  font-size: 11pt;
  font-weight: 300;
  color: var(--grey);
}

/* HEADER -------------- */
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  padding: 15px min(5%, 100px);
  background-color: var(--white-opacity);
  color: var(--grey);
  z-index: 1;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.navbar > a,
header > a {
  text-decoration: none;
  text-transform: uppercase;
  color: var(--grey);
  font-size: 24px;
  font-weight: 600;
  margin: 0 10px;
}

/* MAIN ---------------- */
.container {
  height: 100vh;
  min-width: 500px;
  background-color: rgb(255, 255, 255);
  display: flex;
}

.front-page {
  position: relative;
  margin: 0;
  background-image: url("../images/side_red_dress_edited.jpg");
  width: 100%; /* Or a specific width */
  background-size: cover; /* Ensures the image covers the whole div */
  background-position: center; /* Centers the image in the div */
  overflow-x: hidden;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
}

.front-page::before {
  content: "";
  position: relative;
  margin: 0;
  background-image: url("../images/side_red_dress_edited_only_eunbee.png");
  width: 100%; /* Or a specific width */
  height: 100%;
  background-size: cover; /* Ensures the image covers the whole div */
  background-position: center; /* Centers the image in the div */
  z-index: 5;
}

.front-page > .header-wrap > h1 {
  font-size: 3em;
  z-index: 3;
}

.header-wrap {
  width: 200%;
  display: flex;
  position: absolute; /* Or absolute if you need specific positioning */
  justify-content: center; /* Horizontally center */
  align-items: center;
  background-color: rgba(0, 0, 0, 0);
  animation-name: vertical-banner;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  justify-content: space-around;
}

.header-wrap:hover {
  animation-play-state: paused;
}

@keyframes vertical-banner {
  from {
    transform: translateX(-25%);
  }
  to {
    transform: translateX(25%);
  }
}

.about-me-section {
  background-color: rgb(18, 156, 29);
  justify-content: center;
}

.videos-section {
  background-color: rgb(29, 99, 35);
}

.content-wrap {
  background-color: var(--white);
  width: min(800px, 100%);
}
