/* RESET */

html, body
{
	height: 100%;
}

h1, h2, h3, h4, h5, h6 
{
	margin: 0;
}

body, div
{
	margin: 0px;
	padding: 0px;
	background: #8f8f8f;
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 11pt;
	font-weight: 300;
	color: #6c6c6c
}

/* HEADER -------------- */


/* MAIN ---------------- */
.container
{	
	height: 100vh;
	max-width: 100%;
	background-color: rgb(192, 77, 23);
	margin: 0 20%;
}

.front-page{
	margin: 0;
	background-image: url('../images/wide_eating_reflection.jfif');
	width: 100%; /* Or a specific width */
	background-size: cover; /* Ensures the image covers the whole div */
	background-position: center; /* Centers the image in the div */
}

.about-me-section
{
	background-color: rgb(241, 85, 23);
}

.videos-section
{
	background-color: rgb(148, 110, 40);
}
